<a href="/one"><< home</a>

<script>
  alert('this is an alert')
</script>

<p>is there a script...</p>

<script src="https://gist.github.com/trevorturk/aee903098fcd4a19861daa424003040d.js"></script>

<p>...between these two lines?<p>
